/* font family */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* main web layout style  */

main {
    margin: 0 7%;
}

/* --------
top banner styles 
-----------*/
.top-banner {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #161616;
    border-radius: 30px;
    margin-bottom: 130px;
    margin-top: 20px;
}

.top-title-info {
    width: 40%;
    height: 100%;
    margin: 53px 24px 111px 106px;
}

.top-title h1 {
    padding-top: 0;
    color: white;
    font-size: 4.557291666666667vw;
    margin-bottom: 20px;
}

.top-title p {
    color: white;
    font-size: 1.0416666666666667vw;
    margin-bottom: 30px;
}

.watch-btn {
    text-align: center;
    font-size: 1.3020833333333333vw;
    font-weight: 400;
    padding: 16px 0px;
    width: 186px;
    background-color: #4681f4;
    border-radius: 10px;
    color: white;
}

.watch-btn a {
    text-decoration: none;
    color: white;
}

.fa-solid {
    padding-left: 5px;
}

.top-banner-img img {
    width: 100%;
    height: 100%;
    margin: 0;

}

/* ----------
article styles
--------------- */

/* aside styles */
.aside {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-right: 10.53px;
}

.nav-option {
    height: 252px;
    width: 252px;
    padding: 30px;
}

.aside-nav {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 252px;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600px;
}

.aside-nav a {
    text-decoration: none;
    color: black;
}

.nav-1 {
    background-color: #4681f4;
}

.nav-1 a {
    color: white;
}

/* blogs style  */
.blog-img img {
    width: 100%;
    height: 175px;
    border-radius: 10px 10px 0 0;
}



.blog-img {
    height: 175px;
}

.blog-info {
    width: 270px;
    height: 167px;
    border: 1px solid lightgray;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.btn-2 {
    width: 100px;
    padding: 6.5px 0;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.blog-info p {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}

.info {
    width: 178px;
    display: flex;
}

.info-1 {
    font-size: 18px;
    color: rgba(22, 22, 22, 0.7);
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 16px;
    height: 16px;
}

/* aside and articles flexed */
.articles {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* article grid  */
.blogs {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* footer style  */
.footer {
    width: 100%;
    height: 100%;
    background-color: #161616;
    margin-top: 104px;
}

.footer h1 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 104px;
}

.footer hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 10% 0px 10%;
}

.footer-option {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 351px 100px 351px;
}

.footer-nav {
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
}

.icons {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.icons i {
    padding: 20px;
}

/* ---------------------------------
          Mobile divice 
-------------------------------------*/
@media screen and (max-width:668px) {


    .top-banner {
        flex-direction: column;
        margin-bottom: 24px;
        width: 100%;
    }

    .top-title {
        text-align: center;
    }

    .top-title-info {
        margin: 0;
        width: 83%;
        padding: 20px 30px 0;
        height: 50%;
    }

    .top-title p {
        font-size: 12px;
    }

    .watch-btn {
        width: 137px;
        height: 24px;
        padding: 8px 12px;
        margin: 0 25%;
    }

    .watch-btn a {
        font-size: 14px;
    }


    .top-banner-img img {
        width: 50%;
        padding-left: 78px;
    }

    .aside {
        background-color: white;
    }

    .aside-nav {
        border: 2px solid lightgray
    }

    .articles {
        flex-direction: column;
        align-items: center;
    }

    .blogs {
        width: 100%;
        margin-top: 24px;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .blog-img {
        width: 100%;
    }

    .blog-info {
        width: 312.33px;
    }

    .footer {
        width: 100%;
    }

    .footer-option {
        width: 100%;
        padding: 24px 0;
        text-align: center;
        flex-direction: column;
    }

    .footer-nav {
        padding-top: 25px;
    }
}

/*--------------------
     Device Tablet
---------------------- */
@media screen and (min-width:669px) and (max-width:992px) {
    .top-title p {
        font-size: 16px;
    }

    .watch-btn {
        font-size: 16px;
    }

    .articles {
        flex-direction: column;
        align-items: center;
    }

    .aside {
        width: 100%;
        height: 100%;
        background-color: white;
    }

    .nav-option {
        height: 100%;
        width: 100%;
        padding: 0;
        display: flex;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        width: 100%;
    }

    .blog-info {
        width: 298.6px;
    }

    .blog-img img {
        width: 100%;
    }

    .last-article {
        display: none;
    }

    .footer-option {
        width: 100%;
        padding: 40px 0 70px 0;
    }

    .footer-nav {
        padding: 0 20px;
    }
}


/* -----------------------------------------------
              web-page 2 styles
   ----------------------------------------------- */
.articles-page-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.blog-pg-2 {
    padding: 53px 30px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    text-align: center;
}

.flags {
    display: flex;
    justify-content: center;
}

.vs {
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
}